---
layout: default
---

{% comment %} <a class="btn" href="{{ site.url }}/">
  Home
</a> {% endcomment %}
<div id="post">
  <header class="post-header">
    <h1 title="{{ page.title | escape }}">{{ page.title }}</h1>
    <span class="post-meta">

      {% if page.excerpt %}
      <span class="post-description">
        {% comment %} • {% endcomment %}
        {{ page.excerpt }}
      </span>
      {% endif %}
      <div class="post-date">
        <a class="post-date" href="{{ site.url }}/archivo">{{ page.date | date: "%Y-%m-%d " | upcase }}</a>

        {% if page.categories.size > 0 %}
        •
        {% for cat in page.categories %}
        <a class="post-cat" href="{{ site.url }}/categorias/#{{ cat }}">{{ cat }}</a>
        {% unless forloop.last %}
        <span>/</span>
        {% endunless %}
        {% endfor %}
        {% endif %}
      </div>
    </span>
    <hr>
  </header>

  {% comment %} {% if page.image.feature %}
  <div class="post-image-feature">
    <img class="feature-image"
      src={% if page.image.feature contains 'https' or page.image.feature contains 'http' %} "{{ page.image.feature }}"
      {% else %} "{{ site.url }}/img/{{ page.image.feature }}" {% endif %}
      alt="{{ page.title | escape }} feature image">

    {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
    {% endif %}
  </div><!-- /.image-wrap -->
  {% endif %} {% endcomment %}

  <article class="post-content">
    {{ content }}
  </article>
</div>

{% comment %} <div class="share-buttons"> {% endcomment %}
  {% comment %} <h6>Compartir: </h6>
  <ul>
    <li>
      <a href="https://twitter.com/intent/tweet?text={{ site.url }}{{ page.url }}" class="twitter btn"
        title="Compartir en tw"><i class="fa fa-twitter"></i></a>
    </li>
    <li>
      <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" class="facebook btn"
        title="Compartir en fb"><i class="fa fa-facebook"></i></a>
    </li>
  </ul> {% endcomment %}
  {% comment %}
</div><!-- end share-buttons --> {% endcomment %}

{% if site.owner.disqus-shortname and page.comments == true %}
<div id="disqus_thread"></div>
{% include disqus.html %}
{% endif %}